.row {
  display: flex;
}

.col-full {
  display: flex;
  width: 100%;
}

.col-half {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-col-half {
  display: flex;
  width: 50%;
  align-items: center;
}

#nav-first {
  width: 70%;
}

header {
  margin-bottom: 0.5rem;
}

.legend {
  margin-top: 0;
  margin-left: 8%;
  margin-right: 20%;
}

.legend p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.3rem;
}

.box {
  margin-top: 0.6rem;
}

@media (min-width: 767px) {
  table.main-table {
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1rem;
  }

  .main-table td {
    margin: 0.1rem 0;
  }

  .club {
    width: 45%;
  }

  .legend {
    margin-left: 26.2%;
  }

  .col-half {
    width: 50%;
  }
}
