.row {
  display: flex;
}

.col-full {
  display: flex;
  width: 100%;
}

.nav-col-half {
  display: flex;
  width: 50%;
  align-items: center;
}

#nav-first {
  width: 70%;
}

header {
  margin-bottom: 0.5rem;
}

@media (min-width: 767px) {
  table {
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1rem;
  }

  td {
    margin: 0.1rem 0;
  }

  .club {
    width: 45%;
  }
}
