* {
  font-family: "IBM Plex Sans", sans-serif;
}

.navbar {
  background-color: #e3f2fd;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.navbar p,
.navbar a {
  color: #007bff;
}

.league-icon-wrapper {
  width: 2rem;
  margin-left: 2rem;
  margin-top: 0.2rem;
  margin-right: 1rem;
}

#nav-logo {
  width: 100%;
}

#nav-logo:hover {
  cursor: pointer;
}

.league-title-wrapper {
  display: flex;
}

.league-leaders-wrapper {
  margin-right: 2rem;
}

.caret-wrapper {
  margin-left: 0.5rem;
  width: 8px;
  height: 8px;
  margin-top: -0.7rem;
}

#second {
  display: flex;
  justify-content: right;
  align-items: center;
}

.bolded {
  font-weight: bold;
}

.table-container {
  display: flex;
  justify-content: center;
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  margin-left: 0.3rem;
}

.uefa {
  border-left: solid 0.2rem #0c81ff;
}

.relegation {
  border-left: solid 0.2rem #dd0c13;
}

.number {
  margin-left: 0.1rem;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
}

.main-table {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 0.75rem;
}

.club {
  text-align: left;
  width: 37%;
  padding-left: 0;
}

.main-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.main-table thead {
  background-color: #e3f2fd;
}

.main-table tfoot {
  background-color: #e3f2fd;
}

.main-table td {
  margin: 0.3rem;
}

#first-header {
  border-top-left-radius: 10px;
}

#last-header {
  border-top-right-radius: 10px;
}

#first-footer {
  border-bottom-left-radius: 10px;
  color: #e3f2fd;
}

#last-footer {
  border-bottom-right-radius: 10px;
}

.main-table th {
  width: 2rem;
  padding: 0.3rem 0;
}

.main-table th:not(.results) {
  text-align: left;
}

.main-table .club:hover {
  font-weight: bold;
  cursor: pointer;
}

.results {
  text-align: center;
}

th .results {
  text-align: center;
}

.logo-wrapper {
  width: 1.2rem;
  display: flex;
  align-items: center;
}

.club-logo {
  width: 100%;
}

.box {
  width: 0.5rem;
  height: 0.5rem;
}

.win {
  color: #0aa538;
}

.draw {
  color: #66757b;
}

.loss {
  color: #c00;
}

.blue {
  background-color: #0c81ff;
}

.red {
  background-color: #dd0c13;
}

.champions-league,
.relegated {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  align-items: center;
}

.big-logo-wrapper {
  display: flex;
  align-items: center;
  width: 5rem;
}

#team-view-badge {
  width: 100%;
}

.team-view-name-wrapper {
  display: flex;
  align-items: center;
  width: 30%;
  margin-left: 1rem;
}

#team-view-form {
  display: flex;
  align-items: center;
}

#team-view-name {
  font-size: 1.75rem;
  font-weight: normal;
}

.tv-caret-wrapper {
  display: none;
}

#tv-right-caret {
  width: 100%;
}

.table-title {
  font-weight: normal;
  margin-bottom: 0.25rem;
  margin-top: 1.25rem;
  margin-left: 0.5rem;
  font-size: 1.25rem;
}

.team-view-table-1st-col,
.team-view-table-2nd-col {
  font-size: 1rem;
}

.team-view-table-1st-col {
  padding-left: 0.6rem;
}

.team-view-table-2nd-col {
  font-weight: bold;
  text-align: right;
  padding-left: 0.5rem;
}

.team-view-table-3rd-col {
  font-size: 0.6rem;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
}

#team-view-coach {
  padding-top: 2rem;
}

.coach-img-wrapper {
  width: 8rem;
  padding-top: 1rem;
}

#coach-img {
  width: 100%;
}

.coach-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.coach-name-wrapper > h1 {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: normal;
}

.coach-name-wrapper > h3 {
  margin-top: 0;
  font-weight: normal;
  text-align: center;
}

.formations-wrapper {
  padding-top: 1rem;
}

.formations-wrapper > p {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
}

#team-view-button {
  display: flex;
  justify-content: center;
}

#view-squad-button {
  background-color: #e3f2fd;
  color: #007bff;
  border: solid 3px #007bff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 1.35rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#view-squad-button:hover {
  cursor: pointer;
}

.squad-view-container {
  margin: auto;
  width: 90%;
}

#squad-view h1 {
  font-size: 2rem;
  text-decoration: underline;
  letter-spacing: 1px;
}

#squad-view h3 {
  font-weight: normal;
}

.sv-player-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sv-player-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-img-wrapper {
  width: 9.5rem;
}

.sv-player-img {
  width: 100%;
}

.player-info-wrapper {
  display: flex;
  align-items: end;
  margin-top: -1.5rem;
}

.sv-name-wrapper {
  margin-left: 0.5rem;
}

.sv-player-name {
  font-size: 1.25rem;
}

.sv-player-number {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #a0a0a0;
}

@media (min-width: 767px) {
  .big-logo-wrapper {
    width: 12rem;
  }

  .team-view-name-wrapper {
    margin-left: 2rem;
  }

  #team-view-name {
    font-size: 3rem;
  }

  .tv-caret-wrapper {
    display: flex;
    align-items: center;
    width: 0.4rem;
    margin-top: 1rem;
  }

  .table-title {
    font-size: 1.75rem;
  }

  .team-view-table-1st-col,
  .team-view-table-2nd-col {
    font-size: 1.25rem;
  }

  .team-view-table-1st-col {
    padding-left: 1rem;
  }

  #team-view-2nd-col {
    margin-left: 6rem;
  }

  #team-view-coach {
    padding-top: 0;
  }

  .formations-wrapper {
    padding-top: 0.75rem;
  }

  #team-view-button {
    justify-content: left;
  }

  .squad-view-container {
    width: 70%;
  }

  #squad-view h1 {
    font-size: 2.5rem;
  }

  .sv-player-box {
    width: 25%;
    align-items: start;
  }
}
