* {
  font-family: "IBM Plex Sans", sans-serif;
}

.navbar {
  background-color: #e3f2fd;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.navbar p,
.navbar a {
  color: #58a9fe;
}

.league-icon-wrapper {
  width: 2rem;
  margin-left: 2rem;
  margin-top: 0.2rem;
  margin-right: 1rem;
}

#nav-logo {
  width: 100%;
}

.league-title-wrapper {
  display: flex;
}

.league-leaders-wrapper {
  margin-right: 2rem;
}

.caret-wrapper {
  margin-left: 0.5rem;
  width: 8px;
  height: 8px;
  margin-top: -0.7rem;
}

#second {
  display: flex;
  justify-content: right;
  align-items: center;
}

.bolded {
  font-weight: bold;
}

.table-container {
  display: flex;
  justify-content: center;
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  margin-left: 0.3rem;
}

.uefa {
  border-left: solid 0.2rem #0c81ff;
}

.relegation {
  border-left: solid 0.2rem #dd0c13;
}

.number {
  margin-left: 0.1rem;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
}

.main-table table {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 0.75rem;
}

.club {
  text-align: left;
  width: 37%;
  padding-left: 0;
}

.main-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.main-table thead {
  background-color: #e3f2fd;
}

.main-table tfoot {
  background-color: #e3f2fd;
}

.main-table td {
  margin: 0.3rem;
}

#first-header {
  border-top-left-radius: 10px;
}

#last-header {
  border-top-right-radius: 10px;
}

#first-footer {
  border-bottom-left-radius: 10px;
  color: #e3f2fd;
}

#last-footer {
  border-bottom-right-radius: 10px;
}

.main-table th {
  text-align: left;
  font-weight: normal;
  width: 2rem;
  padding: 0.3rem 0;
}

.results {
  text-align: center;
}

.logo-wrapper {
  width: 1.2rem;
  display: flex;
  align-items: center;
}

.club-logo {
  width: 100%;
}

.box {
  width: 0.5rem;
  height: 0.5rem;
}

.blue {
  background-color: #0c81ff;
}

.red {
  background-color: #dd0c13;
}

.champions-league,
.relegated {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  align-items: center;
}

.big-logo-wrapper {
  display: flex;
  align-items: center;
  width: 5rem;
}

#team-view-badge {
  width: 100%;
}

.team-view-name-wrapper {
  display: flex;
  align-items: center;
  width: 30%;
  margin-left: 1rem;
}

#team-view-form {
  display: flex;
  align-items: center;
}

#team-view-name {
  font-size: 1.75rem;
  font-weight: normal;
}

.tv-caret-wrapper {
  display: flex;
  align-items: center;
  width: 0.4rem;
  margin-top: 1rem;
}

#tv-right-caret {
  width: 100%;
}

.table-title {
  font-weight: normal;
  margin-bottom: 0.25rem;
  margin-top: 1.25rem;
  margin-left: 0.5rem;
  font-size: 1.25rem;
}

.team-view-table-1st-col,
.team-view-table-2nd-col {
  font-size: 1rem;
}

.team-view-table-1st-col {
  padding-left: 1rem;
}

.team-view-table-2nd-col {
  font-weight: bold;
  text-align: right;
  padding-left: 0.5rem;
}

.team-view-table-3rd-col {
  font-size: 0.6rem;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
}

#team-view-coach {
  padding-top: 1rem;
}

.coach-img-wrapper {
  width: 8rem;
  padding-top: 1rem;
}

#coach-img {
  width: 100%;
}

.coach-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.coach-name-wrapper > h1 {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: normal;
}

.coach-name-wrapper > h3 {
  margin-top: 0;
  font-weight: normal;
}

@media (min-width: 767px) {
  .big-logo-wrapper {
    width: 12rem;
  }

  .team-view-name-wrapper {
    margin-left: 2rem;
  }

  #team-view-name {
    font-size: 3rem;
  }

  .table-title {
    font-size: 1.75rem;
  }

  .team-view-table-1st-col,
  .team-view-table-2nd-col {
    font-size: 1.25rem;
  }

  #team-view-2nd-col {
    margin-left: 4rem;
  }

  #team-view-coach {
    padding-top: 0;
  }
}
